header {
  border: solid;
  border-color: black;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  width: 100%;
}

.solar-system {
  background: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
}

.planets {
  border: solid;
  border-color: black;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
  width: auto;
}
